ul li {
  list-style: none;
}

.navbar {
  background-color: #a8c08b;
  height: 25px;
}

.logo {
  text-indent: -999999px;
  background: url("logo.png");
  width: 90px;
  height: 80px;
  padding: 5px;
  margin: 5px;
  // border-radius: 50%;
}
