<!--Main layout-->
<main class="my-5">
    <div class="container" style="margin-top:0px;padding-top: 0px;">
        <!--Section: Content-->
        <section class="text-center" style="margin-top:0px;padding-top: 0px;">
            <h4 class="mb-5"><strong>Latest posts</strong></h4>


            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="../../../assets/images/FOR ME 1.png" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Post title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <div>

                                <button class="btn btn-primary" (Routerlink)="['/home']" type="submit"
                                    style="margin-top:15px;">Read</button>
                                <button class="btn btn-primary" onclick="swal.fire('Deleted ! ')" type="submit"
                                    style="margin-top:15px;">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="../../../assets/images/FOR ME 2.png" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Post title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>

                            <button class="btn btn-primary" (Routerlink)="['/home']" type="submit"
                                style="margin-top:15px;">Read</button>
                            <button class="btn btn-primary" onclick="swal.fire('Deleted ! ')" type="submit"
                                style="margin-top:15px;">Delete</button>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="../../../assets/images/FOR ME 3.png" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Post title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>


                            <button class="btn btn-primary" (Routerlink)="['/home']" type="submit"
                                style="margin-top:15px;">Read</button>
                            <button class="btn btn-primary" onclick="swal.fire('Deleted ! ')" type="submit"
                                style="margin-top:15px;">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="../../../assets/images/FOR ME 4.png" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Post title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>


                            <button class="btn btn-primary" (Routerlink)="['/home']" type="submit"
                                style="margin-top:15px;">Read</button>
                            <button class="btn btn-primary" onclick="swal.fire('Deleted ! ')" type="submit"
                                style="margin-top:15px;">Delete</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="../../../assets/images/FOR ME 5.png" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Post title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>

                            <button class="btn btn-primary" (Routerlink)="['/home']" type="submit"
                                style="margin-top:15px;">Read</button>
                            <button class="btn btn-primary" onclick="swal.fire('Deleted ! ')" type="submit"
                                style="margin-top:15px;">Delete</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="../../../assets/images/FOR ME 6.png" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Post title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>


                            <button class="btn btn-primary" (Routerlink)="['/home']" type="submit"
                                style="margin-top:15px;">Read</button>
                            <button class="btn btn-primary" onclick="swal.fire('Deleted ! ')" type="submit"
                                style="margin-top:15px;">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Section: Content-->

        <!-- Pagination -->
        <nav class="my-4" aria-label="...">
            <ul class="pagination pagination-circle justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</main>


<!--Footer-->

<app-footer></app-footer>














<!----<div class="row">
    <div class="col-8">

        <div class="container text-center">
            <div class="row align-items-start">
                <h2> Popular posts</h2>
                <mat-divider></mat-divider>

                <div class="col">
                
                    <mat-card class="example-card">
                        <mat-card-title-group>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>02/08/2022</mat-card-subtitle>
                            <img mat-card-sm-image src="../.././../assets/images/FOR ME 1.png">
                        </mat-card-title-group>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                        <button mat-button>CHECK</button>
                        <button mat-button>DELETE</button>
                    </mat-card>
                    <mat-divider></mat-divider>


              
                    <mat-card class="example-card">
                        <mat-card-title-group>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>01/08/2022</mat-card-subtitle>
                            <img mat-card-sm-image src="../.././../assets/images/FOR ME 2.png">
                        </mat-card-title-group>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                        <button mat-button>CHECK</button>
                        <button mat-button>DELETE</button>
                    </mat-card>
                    <mat-divider></mat-divider>
               <mat-card class="example-card">
                        <mat-card-title-group>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>31/07/2022</mat-card-subtitle>
                            <img mat-card-sm-image src="../.././../assets/images//FOR ME 3.png">
                        </mat-card-title-group>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                        <button mat-button>CHECK</button>
                        <button mat-button>DELETE</button>
                    </mat-card>
                    <mat-divider></mat-divider>
            
                    <mat-card class="example-card">
                        <mat-card-title-group>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>28/07/2022</mat-card-subtitle>
                            <img mat-card-sm-image src="../.././../assets/images/FOR ME 4.png">
                        </mat-card-title-group>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                        <button mat-button>CHECK</button>
                        <button mat-button>DELETE</button>
                    </mat-card>
                    <mat-divider></mat-divider>
          
                    <mat-card class="example-card">
                        <mat-card-title-group>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>16/6/2022</mat-card-subtitle>
                            <img mat-card-sm-image src="../.././../assets/images/FOR ME 5.png">
                        </mat-card-title-group>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                        <button mat-button>CHECK</button>
                        <button mat-button>DELETE</button>
                    </mat-card>
                    <mat-divider></mat-divider>

                </div>
                <div class="col">
                    <div class="col">
                        <h2><i> Most Popular Posts </i></h2>
                        <mat-divider></mat-divider>
                        <mat-card class="example-card">
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>08/05/2022</mat-card-subtitle>
                                <img mat-card-sm-image src="../.././../assets/images/FOR ME 6.png">
                            </mat-card-title-group>
                            <mat-card-content>
                                {{longText}}
                            </mat-card-content>
                            <button mat-button>CHECK</button>
                            <button mat-button>DELETE</button>
                        </mat-card>
                        <mat-divider></mat-divider>
                        <mat-card class="example-card">
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>02/08/2022</mat-card-subtitle>
                                <img mat-card-sm-image src="../.././../assets/images/bg-4.jpg">
                            </mat-card-title-group>
                            <mat-card-content>
                                {{longText}}
                            </mat-card-content>
                            <button mat-button>CHECK</button>
                            <button mat-button>DELETE</button>
                        </mat-card>
                        <mat-divider></mat-divider>
                        <mat-card class="example-card">
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>13/07/2022</mat-card-subtitle>
                                <img mat-card-sm-image src="../.././../assets/images/bg-3.jpg">
                            </mat-card-title-group>
                            <mat-card-content>
                                {{longText}}
                            </mat-card-content>
                            <button mat-button>CHECK</button>
                            <button mat-button>DELETE</button>
                        </mat-card>
                        <mat-divider></mat-divider>
                        <mat-card class="example-card">
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>12/07/2022</mat-card-subtitle>
                                <img mat-card-sm-image src="../.././../assets/images/bg-2.jpg">
                            </mat-card-title-group>
                            <mat-card-content>
                                {{longText}}
                            </mat-card-content>
                            <button mat-button>CHECK</button>
                            <button mat-button>DELETE</button>
                        </mat-card>
                    </div>
                </div>


                <div class="col-4"> Latest posts </div>

            </div>-->